.descrição::first-letter {
    font-size: 25px;
    color: #6b0f1a;
}

.descrição:hover{
    color:#6b0f1a
}

.Imagem_int {
    transition: 0.3s;
}

.Imagem_int:hover {
    transform: scale(1.18);
}

.integrantes-desc:hover {
    color:#6b0f1a
}


